body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #363636;
    color: rgb(221, 221, 221);
}

h1 {
    border-bottom: 1px solid #999999;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

ul {
    margin: 1em auto 1em auto;    
    display: inline-block;
    padding: 0px;
}

li {
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    margin: 0px -5px 0px -5px;
}

a {
    color: rgb(239, 239, 239);
    padding: 10px 10px;
    background-color:#4b4b4b;
    margin: 0px;
    border-left: 1px solid #777777;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: black 1px 1px 2px;
}

ul > li:first-of-type a {
    border-left: none;
}

ul > li:first-of-type {
    margin-right: 0px;
}

ul > li:last-of-type {
    margin-left: 0px;
}

a:hover {
    background-color: rgb(95, 95, 95);
}

img {
    width: 250px;
    height: auto;
}