body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #363636;
    color: rgb(221, 221, 221);
}

h1 {
    border-bottom: 1px solid #999999;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.flex-box {
    margin: 2em auto 1em auto;   
    padding: 0px;
    display: flex;
    width: 50%;
}

.flex-item {
    padding: 0px;
    flex: 0 0 auto;
}

a {
    color: rgb(239, 239, 239);
    padding: 10px 10px;
    background-color:#4b4b4b;
    margin: 0px;
    border-left: 1px solid #777777;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: black 1px 1px 2px;
    justify-content: center;
}

.flex-box > div.flex-item:first-of-type a {
    border-left: none;
}

a:hover {
    background-color: rgb(95, 95, 95);
}

img {
    width: 250px;
    height: auto;
}